<h1>Classifieds</h1>
<section>
  <% @classifieds.each do |classifieds|  %>
    <article>
        <h2> <%= classifieds.title %> </h2>
        <p> <%= classifieds.description %> </p>

        <div> <%= "$#{classifieds.price}" %> </div>
        <div> <%= classifieds.category.name %> </div>
    </article>
  <% end %>
</section>
